.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-copyrigth {
    bottom: 0;
    position: absolute;
}

.row-space {
    margin-top: 25px;
}

#imagem {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

#texto {
    text-align: justify;
}

.img-servicos {
    position: relative;
    width: 80%;
}

#img-overlay {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
  }

  .img-servicos:hover .overlay {
    width: 100%;
  }

  .text {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }