{% extends "base.html" %}
{% load bootstrap %}

{% block main %}
    <div class="row">
        <div class="col">
            <div class="alert alert-light" role="alert">
                <h2>Tem certeza que deseja deletar {{ obj }} ?</h2>

                <form method="POST">
                    {% csrf_token %}
                    
                    <a href="{% url 'core_lista_pessoas' %}" class="btn btn-outline-primary">Cancelar</a>
                    <button type="submit" class="btn btn-outline-danger">Deletar</button>
                </form>
            </div>
        </div>
    </div>
{% endblock main %}