{% extends "base.html" %}
{% load bootstrap %}

{% block menu %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'core_home' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Lançamentos</a>
            <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'core_lista_pessoas' %}">Pessoas</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'core_lista_marcas' %}">Marcas</a>
            <a class="dropdown-item" href="{% url 'core_lista_cores' %}">Cores Veículos</a>
            <a class="dropdown-item" href="{% url 'core_lista_veiculos' %}">Veículos</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'core_lista_mov_rotativos' %}">Movimentos Rotativos</a>
            </div>
        </li>
    </ul>
{% endblock menu %}

{% block main %}
    <div class="row">
        <div class="col-sm-6">
            <h2>Movimentos Rotativos</h2>
            <form action="{% url 'core_mov_rotativo_novo' %}" method="POST">
                {% csrf_token %}

                {{ form|bootstrap }}

                <button type="submit" class="btn btn-outline-primary">Cadastrar</button>
            </form>
        </div>

        <div class="col-sm-6">
            <h2>Lista Movimentos Rotativos</h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Veículo</th>
                        <th scope="col">Entrada</th>
                        <th scope="col">Saída</th>
                        <th scope="col">Valor Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for mov_rotativo in mov_rotativos %}
                        <tr>
                            <th scope="row"> 
                                <a href="{% url 'core_mov_rotativo_update' mov_rotativo.id %}"> {{ mov_rotativo }} </a>
                            </th>
                            <th>{{ mov_rotativo.entrada }}</th>
                            <th>{{ mov_rotativo.saida }}</th>
                            <th>{{ mov_rotativo.valor_total }}</th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock main %}